/* CSS Document */
@charset "UTF-8";

/**
* YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
* http://cssreset.com
* Copyright 2012 Yahoo! Inc. All rights reserved.
* http://yuilibrary.com/license/
*/
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
color:#000;
background:#FFF;
}
/*
TODO remove settings on BODY since we can't namespace it.
*/
/*
TODO test putting a class on HEAD.
- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
margin:0;
padding:0;
}
table {
border-collapse:separate;
border-spacing:0;
}
fieldset,
img {
border:0;
}
/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
font-style:normal;
font-weight:normal;
}

ul {
list-style:none;
}
caption,
th {
text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size:100%;
font-weight:normal;
}
q:before,
q:after {
content:'';
}
abbr,
acronym {
border:0;
font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
vertical-align:text-top;
}
sub {
vertical-align:text-bottom;
}
input,
textarea,
select {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

body{
	box-sizing: border-box;
	font-feature-settings : "palt";
	text-align: justify;
	width:100%;
	height:100%;
	padding:6px;
	font-family: Noto Sans Japanese;
	font-size:16px;
	padding-bottom: calc(123px + 2em);
}
a{
	text-decoration: none;
}

.label{
	background-color: #f50000;
}


/*------------------------------------
ヘッダー
-------------------------------------*/
header{
	overflow: hidden;
	position:relative;
}
#header_layer{
	position:relative;
	padding:1rem 1rem 0 1rem;
	opacity:0.9;
	z-index: 20;
}
#header_layer h1{
	padding:1em;
}
.attachment-post-thumbnail{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: 100%;
    display: block;
	overflow: hidden;
}
#header_layer p,
#header_layer form{
	width: 100%;
	max-width:760px;
    padding: 1em 0 1em;
    margin: auto;
}
#header_nav{
	padding:1em 0 2em;
}
#category_nav{
	padding:1em;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items: baseline;
}
.category_name,
.tag_name {
	margin:0.35rem;
}
.category_name a,
.tag_name a,
.form-submit>#submit{
	width:initial;
	padding:0.3em 0.5em;	
} 


/*------------------------------------
ナビゲーション
---------------------------------------*/
#menu-global-container{
	position:relative;
	bottom:0;
	padding:.5em 0;
	margin:2em auto 1em;
	
}
.menu{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	max-width:680px;
	margin:auto;
}
.menu li a{
	padding:0.3em 0.5em;
}
/*------------------------------------
アイキャッチ
---------------------------------------*/
header.attachment-post-thumbnail{
	z-index:10;
}
/*------------------------------------
index.php
-------------------------------------*/
main{
	padding: 1em 0 4em;
    position: relative;
    z-index: 30;
    min-height: 50vh;
}

article{
	 max-width: 760px;
    margin: auto;
}
h2,
h3,
h4,
h5{
	margin: 1em 0.5em;
    padding: .5em;
	line-height:1.7;
}
p,ul,#menu-global-container{
	margin: 0 0.5em;
    padding: .5em;
	line-height: 1.7;
}

li{
	padding:0.25rem 0;
}

ol{
	margin: 0 0.5em;
    padding: .5em 2em;
	line-height: 1.7;
}
blockquote,
q{
	margin: 1em auto;
	padding:0.7em 1em;
	width:70%;
	line-height: 1.7;
}
article img{
	max-width:100%;
}
article .wp-caption{
	padding:0.7em 0;
	max-width:100%;
}
article table{
	margin: 1em 0.5em;
    padding: .5em;
}
article dl{
	margin: 1em 0.5em;
	padding: .5em;
}
article dt,
article dd{
	padding:0.25rem 0;
	
}
article dt{
	padding-left: 1rem;
    border-bottom: dotted 1px #43C6AC;
    color: #0F3260;
    font-weight: bold;
}
article dd{
	padding-left:1rem;
}

article address{
	margin: 0 0.5em;
    padding: .5em;
    line-height: 1.7;
}
article p a,
article li a,
.wp-caption-text a,
article table a{
	color:inherit;
	text-decoration: underline;	
}
.alignnone {
    margin: 5px 0;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}
.wp-caption-text{
	margin:0;
	padding:0 1em;
	line-height: 1.2
}
code,pre,kbd{
	overflow:scroll;
	border-radius: 3px;
	padding:0.25rem;
	background-color:#232323;
	color:#f5f5f5;
}
/*-----------------------------
category.php
-------------------------------*/
#category_main{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
}
.articles_index{
	height:auto;
	width:50%;
	padding-bottom: 3.5rem;

}
.articles_index h2{
	line-height:1.35;
}
.articles_index_thumbnail{
	height:7rem;
	overflow: hidden;
    padding: 0.7rem;
	
}
.articles_index .attachment-post-thumbnail{
	box-sizing: border-box;
    position: static;
    width: 100%;
	height:auto;

}
.articles_index h2{
	margin:0;
	padding:0 0.7rem;
	font-size:0.9rem;
}
time{
	font-size:0.75rem;
	padding:0.3rem 0.7rem;
	
}
#tag_navigation ul{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#tag_navigation .post-categories{
	margin:0;
	padding:0 0.7em;
	display:flex;
	flex-direction: row;
	align-items: baseline;
	align-content: space-between;
	justify-content: flex-start;
}
#tag_navigation{
	margin-top:0.5rem;
}
#tag_navigation .post-categories li a{
	width:initial;
	padding:0em 0.5em;
	font-size:0.8rem;
	
}
/*------------------------------------
フッター
-------------------------------------*/
footer{
	width: calc(100% - 0.8em);
    background-color: #272727;
    padding: 1rem 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
    margin: 0.4em;
	
}
#copyright{
	display: flex;
	flex-direction: row;
	margin-top:0.5rem;
	max-width:680px;
	margin:0.5rem auto;
	
}
.copyright_text{
	margin-right: auto;
}
#total_navigation ul{
	display: flex;
    margin-right: 0;
}
.back_to a{
	padding: 0.2em 0.3em;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.back_to{
	margin-right: 0.5em;
    line-height: 1.7;
	border:1px solid #f7f7f7;
	border-radius: 3px;
	cursor: pointer;
}
/*------------------------------------
コメント
-------------------------------------*/
#respond{
	margin:auto;
	max-width:760px;
}
.comment-form-comment{
	text-align: left;
}
#comment{
	width:100%;
}
#commentform{
	padding-bottom:2em;
	
}
.commentlist{
	background-color:#fff;
}
.comment-meta a,
.comment-reply-link{
	color:#555;
}
.url{
	color:#555;
}
#searchform{
	margin-left:auto;
	margin-right:auto;
}
#s{
	box-sizing: border-box;
	padding:0 0.5rem;
	border:#555 solid 1px;
}
@media (min-width:769px){
.articles_index_thumbnail {
    height: 8rem;
	}
.attachment-post-thumbnail{
    width: 100%;
    height: auto;
}
.articles_index{
	width:33.333%;

}
}

